div .img-container{
  border-left: solid 2px black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  
}
/* 
.img-container img{
  max-width: 300px;
  max-height: 200px;
} */
div .skill{
  border-left: solid 2px black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 1em;
}

div .skill li{
  list-style: none;
}
