/* div .img-container{
  border-left: solid 2px black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  
  
} */

.img-container img{
  border-radius: 50%;
}
div .skill{
  border-left: solid 2px black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 1em;
}

div .skill li{
  list-style: none;
}
